<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="cz.koto.misak.dbshowcase.android.mobile">

	<application
		android:name=".DbDebugApplication"
		tools:replace="android:name" />

</manifest>